*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    height: 60%;
    width: 50%;
    background-color: black;
}

#scoreArea{
    height: 20%;
    background-color: rebeccapurple;
    display: flex;
}

#computerScoreArea,#userScoreArea{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreArea #computerScoreArea{
    background-color: chocolate;
}

#scoreArea #userScoreArea{
    background-color: green;
}

#textArea{
    height: 80%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#buttonArea{
    height: 20%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}